body {
	background-color: #e545ab;
	color: #00ff00;
	padding: 25px;
	font-family: "Comic Sans MS";

}

img.one{
	padding: 1px;
	border: 10px #a561fd;
}

ul.two{
	background: purple;
	float: right;
	height: 33%;
	width: 33%;
}

ul.one{
	background: yellow;
	float: left;
	height: 33%;
	width: 33%;
}

h2{
	text-align: center;
}
	
h3{
	text-align: center;
}

p.one{
      position: fixed;
      background-color: #e545ab;
      color: #00ff00;
      bottom: 50px;
      left: 50px;
      font-size: 26px;
      }

div.one{
	position: bottom;
}

div.two{
	text-align: center;
}
