body {
	background-color: #e545ab;
	color: #00ff00;
	text-align: center;
	padding: 25px;
	font-family: "Comic Sans MS";

}

img.one{
	padding: 1px;
	border: 10px #a561fd;
}

ul.two{
	background: purple;
	float: right;
	height: 50%;
	width: 50%;
}

ul.one{
	background: yellow;
	float: left;
	height: 50%;
	width: 50%;
}
